html, body{
  height: 100%;
}

.login-page {
  height: 100%;
  background-color: #ffffff;
  .big-logo {
    height: 400px;
    min-height: 50%;
    .logo {
      width: 225px;
      height: 135px;
      background-image: url("/img/ui/ui.png");
      margin: 0 auto;
    }
  }
  .login-btn {
    .full-width-btn();
    padding: 10px;
    background-color: @brand-blue;
    color: @brand-gray-1;
  }
}